@model HealtyVet.ApplicationLogic.Data.Servicii
@{

    ViewData["Title"] = "DeleteService";
}

<h1>Do you want do delete service?</h1>

<div>
    <form asp-action="DeleteService">
        <input type="hidden" asp-for="Description" />
        <input type="submit" value="Delete" class="btn btn-secondary" />
        
    </form>
</div>
