@{
    ViewData["Title"] = "Home Page";
}
<div class=" align-self-lg-center">
    <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/_PetOwnerRegisterPartial"> <button class="btn btn-success">Inregistrare client</button></a>
</div>
<div class=" align-right-lg-center">
    <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/_DoctorRegisterPartial"><button class="btn btn-success">Inregistrare doctor</button></a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
