@{
    ViewData["Title"] = "Home Page";
}
<div class=" align-self-lg-center">
    <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/_PetOwnerRegisterPartial"> <button class="btn btn-success">Inregistrare client</button></a>
</div>
<div class=" align-right-lg-center">
    <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/_DoctorRegisterPartial"><button class="btn btn-success">Inregistrare doctor</button></a>
</div>
